<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UNO</title>
  </head>
  <body>
    <h1>Hello user <%= userId %></h1>
    <h2>Welcome to the UNO lobby</h2>
    <a
      href="/auth/logout"
      style="color: red; text-decoration: none; font-size: 1.2rem"
      >Logout</a
    >
  </body>
</html>
